<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      >🦅 <strong>BIRD WATCHING NOTES</strong> 🦜</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if (locals.page === '/') { %>
          <a class="nav-link active fw-bold" aria-current="page" href="/"
            >Home</a
          >
          <% } else { %>
          <a class="nav-link" href="/">Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (locals.page === '/note') { %>
          <a class="nav-link active fw-bold" aria-current="page" href="/note"
            >New Note</a
          >
          <% } else { %>
          <a class="nav-link" href="/note">New Note</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (locals.page === '/species') { %>
          <a class="nav-link active fw-bold" aria-current="page" href="/species"
            >New Species</a
          >
          <% } else { %>
          <a class="nav-link" href="/species">New Species</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (!locals.loggedOut) { %>
          <a class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </li>
      </ul>
      <% if (locals.userName) { %>
      <div class="text-dark">🙍‍♂️ <%= locals.userName %></div>
      <% } %>
    </div>
  </div>
</nav>
